.loginpage {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('bgimage.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
  }
  
  .login-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 10px rgb(202, 196, 196);
  }
  
  h2 {
    font-size: 1.5em;
    margin-right: 20px;
  }
  
  .elders {
    border-top: 7px solid #d9377e;
  }
  
  .volunteers {
    border-top: 7px solid #d3d937;
  }
  
  .family {
    border-top: 7px solid #37d937;
  }
  
  .icon {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .elders-icon {
    background-image: url('elderaidimg.jpg'); /* Replace with your elders icon */
    
  }
  
  .volunteers-icon {
    background-image: url('volunteerimg.jpg'); /* Replace with your volunteers icon */
  }
  
  .family-icon {
    background-image: url('familyimg.jpg'); /* Replace with your family icon */
  }
  
  .login-button {
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button {
    background-color: #4b46b8;
    width: 70px;
  }
  